.Navbar{
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 2vh 2vw;
}

.Menu{
  display: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Navbar a{
  text-decoration: none;
  font-size: 3vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 4vw;
  color: darkgray;
}

.Navbar img{
  padding-left: 0.5vw;
}

.Navbar a div img{
  margin-right: 1vw;
}

.Dropdown{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
  padding: 1vh 2vw;
  z-index: +1;
  font-size: 2vh;
  border-radius: 0.8vw;
  text-align: left;
}

.Navbar a:hover{
  color: black;
}

.Navbar a:hover img{
  transform: scaleY(-1);
}

.Navbar a:hover .Dropdown{
  display: block;
}

.Login{
  margin-left: auto;
}

.Login button{
  font-size: 2.5vh;
  border: solid;
  border-radius: 1.5vh;
  border-color: grey;
  border-width: 1.5px;
  padding: 0.5vw;
  height: fit-content;
  width: 6vw;
  background-color: white;
  color: grey;
  margin-left: 2vw;
}

.Login button:hover{
  color: black;
  border-color: black;
}

.Body{
  display: flex;
  flex-direction: row;
  margin: 3vh 5vw 0 10vw;
}

.Body img{
  margin-left: auto;
  max-height: 80vh;
  width: 35vw;
}

.Body body{
  display: column;
  height: fit-content;
}

.Body h1{
  margin-top: 10vh;
  margin-right: 20vw;
  margin-bottom: 0%;
  font-size: 10vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Body h2{
  top: 1px;
  margin-top: 0%;
  margin-right: 10vw;
  font-size: 10vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Body h3{
  margin-top: 0%;
  margin-right: 20vw;
  font-size: 3.5vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  color: darkgrey;
}

.Body button{
  padding: 1.2vh 3vh;
  margin-top: 5vh;
  background-color: black;
  color: white;
  border: solid;
  border-radius: 2vh;
  font-size: 2vh;
}

.Body button:hover{
  background-color: white;
  color: black;
}

.Body footer img{
  margin-top: 7vh;
  margin-right: 2vw;
  height: 3vh;
  width: 5vw;
}

.MobileBody{
  display: none;
}



@media(max-width: 419px){
  .Navbar{
    margin-top: 2vh;
  }
  .DesktopLink{
    display: none;
  }
  .Reg{
    display: none;
  }
  .Navbar .Menu{
    display: block;
    background-color: transparent;
    border-style: none;
    margin-left: 63vw;
    margin-right: 1vw;
  }

  .Body{
    display:none;
  }

  .MobileBody{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    text-align: center;
  }
  .MobileHero{
    width: 100vw;
    height: 40vh;
    margin: 0%;
  }
  .MobileBody h1{
    font-size: 7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3%;
  }
  .MobileBody h2{
    font-size: 3.5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    color: darkgrey;
    margin: 1.5%;
    padding: 0% 2%;
  }
  .MobileBody button{
    padding: 1.2vh 3vh;
    margin-top: 2vh;
    background-color: black;
    color: white;
    border: solid;
    border-radius: 2vh;
    font-size: 2.5vh;
    width: fit-content;
    align-self: center;
  }
  .MobileBody footer{
  width: 95vw;
  margin-top: 3%;
  margin-bottom: 0%;
  margin-left: 0vw;
  margin-right: 0vw;
  }
  .Sideers{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    background-color: white;
    z-index: +1;
    font-size: 2vh;
    height: 100vh;
    width: 65vw;
    box-shadow: 0 0 0 35vw rgba(0, 0, 0, 0.76);
  }
  .Navbar .Menu:hover .Sideers{
    display: block;
  }

  .Closer{
    margin-top: 2vh;
    margin-left: 80%;
    height: 3vh;
    width: 4vw;
    border: none;
    background-color: transparent;
  }

  .Closer:hover .Sideers{
    display: none;
  }

  .MobileSiders{
    margin-left: 5vw;
    margin-top: 3vh;
    font-size: 3vh;
    font-weight: 300;
    color: darkgrey;
  }

  .MobileSidersL{
    border: none;
    background-color: transparent;
    width: 50vw;
    height: 7vh;
    color: darkgrey;
  }
  .MobileSidersR{
    background-color: transparent;
    border: solid;
    border-color: darkgrey;
    border-radius: 10px;
    border-width: 2px;
    width: 50vw;
    height: 7vh;
    color: darkgrey;
  }
  .BBB{
    text-align: center;
  }
  .MobileSiders:hover .Dropdown1{
    display: block;
  }
  .MobileSiders:hover img{
    transform: scaleY(-1);
  }
  .Dropdown1{
    display: none;
    position: relative;
    padding: 1vh 1vw;
    z-index: +1;
    font-size: 2.5vh;
    text-align: center;
  }
  .ImgPad{
    padding-right: 3vw;
  }  
}